.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.card {
    width: 20rem;
    height: 20rem;
    background-color: lightpink;
    border: 2px solid rgba(0, 0, 0, 0.432);
    border-radius: 15%;
    padding: 12px;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card button {
    padding: 20px 10px;
    cursor: pointer;
}